.About-us {
    padding: 0 !important;
    margin: 0 !important;
}

    /* menu */
    .About-us > .menu {
        background: url(../images/Services/menu-3.png);
        padding: 0;
    }

        .About-us > .menu > p {
            font-family: Roboto-Medium;
            font-size: 3em;
            color: white;
            padding: 0;
            margin: 0.35em 0em 0.1em 2.7em;
        }

        .About-us > .menu > ul {
            list-style: none;
            padding: 0;
            margin: 1em 0em 0.5em 0em;
        }

            .About-us > .menu > ul > li {
                width: 15em;
                padding: 0;
                margin-right: 1em;
            }

                .About-us > .menu > ul > li > a {
                    font-family: Roboto-Bold;
                    font-size: 1.2em;
                    color: white;
                    text-transform: uppercase;
                    display: block;
                    background: linear-gradient(to right,rgba(0,135,189,1) 0,rgba(0,135,189,1) 50%,rgba(0,170,238,1) 50%,rgba(0,170,238,1) 100%) 0 0/200% 100%;
                    text-shadow: 0 -1px 0 rgb(0, 76, 110);
                    border: 1px solid #00618a;
                    border-color: rgb(0, 91, 129) rgb(0, 111, 156) rgb(0, 97, 138) rgb(0, 100, 141);
                    box-shadow: 1px 1px 0 0 #008fcd;
                    padding: 1em 0.5em 0.8em 1em;
                    position: relative;
                    overflow: hidden;
                    transition: all .3s linear;
                    text-decoration: none;
                }

                    .About-us > .menu > ul > li > a:hover {
                        text-decoration: none;
                        color: white;
                        background-position: -100% 0;
                    }

                    .About-us > .menu > ul > li > a:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 5px;
                        height: 100%;
                        background: #0ae;
                        content: "";
                        transition: all .2s linear;
                    }

    /*Banner*/
    .About-us > .banner {
        background: url(../images/Services/Thietkewebsite/GioiThieu/banner-bg.png) no-repeat;
        height: 100%;
        padding: 0;
        z-index: 1;
    }

        .About-us > .banner > div {
            padding: 5% 25% 5% 0%;
        }

            .About-us > .banner > div > .title {
                font-family: Roboto-Bold;
                font-size: 400%;
                color: rgb(0, 120, 174);
                text-transform: uppercase;
            }

            .About-us > .banner > div > .line {
                font-family: Roboto-Light;
                font-size: 200%;
                color: rgb(90, 96, 99);
            }

                .About-us > .banner > div > .line > span {
                    font-family: Roboto-Bold;
                }

    /*Nội dung chính*/
    .About-us > .content {
        background: url(../images/Services/Thietkewebsite/WsNhahang/content-bg.png);
        padding: 0% 0% 5% 0%;
    }

        /*Nội dung*/
        .About-us > .content > div > .row-box {
            padding: 5% 0% 2.5% 0%;
        }

            .About-us > .content > div > .row-box > img {
                width: 16.5%;
            }

            .About-us > .content > div > .row-box > .text {
            }

                .About-us > .content > div > .row-box > .text > .title {
                    font-family: Roboto-Bold;
                    font-size: 300%;
                    color: rgb(0, 120, 174);
                }

                .About-us > .content > div > .row-box > .text > .detail {
                    font-family: Roboto-Light;
                    color: rgb(90, 96, 99);
                    line-height: 170%;
                    font-size: 130%;
                }

        /*bóng của phần 1 và 3*/
        .About-us > .content > div > .sdl {
            background: url(../images/Services/Thietkewebsite/WsNhahang/content-shadow-1.png) -40px 100% no-repeat;
        }

        /*bóng của phần 2*/
        .About-us > .content > div > .sdr {
            background: url(../images/Services/Thietkewebsite/WsNhahang/content-shadow-2.png) 150px 100% no-repeat;
        }

    /* Nhận tin mới */
    .About-us > .news {
        z-index: 10;
        margin: -4em 0em ;
    }

        .About-us > .news > .box {
            background: linear-gradient(to bottom,rgba(0,131,188,1) 0,rgba(0,120,174,1) 47%,rgba(0,120,174,1) 100%);
            text-align: center;
            border-radius: 3px;
            padding: 2.5em 0em 1em 0em;
            height: 8em;
        }

            .About-us > .news > .box > p {
                font-family: Roboto-Light;
                font-size: 2.5em;
                color: rgb(255, 255, 255);
            }

                .About-us > .news > .box > p > span {
                    font-family: Roboto-Bold;
                }

            .About-us > .news > .box > a {
                font-family: Roboto-Black;
                font-size: 1.5em;
                color: rgb(255, 255, 255);
                padding: 5px 40px;
                text-shadow: 0 -1px 0 #447523;
                border-radius: 2em;
                background: linear-gradient(to bottom,#a2d90c 0,#89bb00 100%) 0 0/100% 100%;
                transition: all .4s linear;
                width: 20%;
                text-decoration: none;
            }

                .About-us > .news > .box > a:hover {
                    color: rgb(255, 255, 255);
                    background-position: 0 -200%;
                    background-size: 100% 200%;
                }

    /* Thông tin chúng tôi */
    .About-us > .info {
        background: url(../images/Services/Thietkewebsite/info-bg.png);
        padding-top: 10em;
        padding-bottom: 5em;
    }

        .About-us > .info > div {
            padding: 0;
        }

            /* Địa chỉ */
            .About-us > .info > div > .address {
                background-color: rgba(0,28,54,.3);
                border: 1px solid rgb(0, 148, 210);
                border-radius: 4px;
                padding: 3px;
            }

                .About-us > .info > div > .address > img {
                    padding: 0;
                    height: 50%;
                }

                .About-us > .info > div > .address > p {
                    font-family: Roboto-Light;
                    font-size: 1.2em;
                    color: rgb(184, 224, 241);
                    text-transform: uppercase;
                    text-align: center;
                    padding: 1em 2em 1em 2em;
                }

                    .About-us > .info > div > .address > p > span {
                        font-family: Roboto-Bold;
                        font-size: 1.5em;
                        color: rgb(255, 255, 255);
                    }

                .About-us > .info > div > .address > a {
                    background: rgb(0, 120, 174);
                    font-family: Roboto-Bold;
                    font-size: 1.2em;
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    padding: 3px 28px 3px;
                    border-radius: 4px;
                    text-shadow: 0 -1px 0 rgb(0, 0, 0);
                    display: inline-block;
                    border: 1px solid #008ece;
                    box-shadow: inset 0 -1px 0 #004664,-1px -1px 0 #004664;
                    text-decoration: none;
                    position: absolute;
                    left: 28%;
                    bottom: -5.5%;
                }

                    .About-us > .info > div > .address > a:after {
                        font-family: Roboto-Black;
                        font-size: 1.5em;
                        padding-left: 8px;
                        vertical-align: -2px;
                        content: "\bb";
                    }

                    .About-us > .info > div > .address > a:hover {
                        background: rgb(0, 157, 220);
                    }

            /* Đăng ký nhận lời khuyên */
            .About-us > .info > div > .advice {
                padding: 0em 2em;
                margin: 0;
            }

                .About-us > .info > div > .advice > p {
                    background: url(../images/Services/Thietkewebsite/info-advice-bg.png);
                    border: 1px solid rgb(31, 172, 229);
                    border-radius: 5px;
                    box-shadow: 0 1px 0 rgb(0,0,0);
                    text-align: center;
                    font-family: Roboto-Light;
                    color: rgb(255, 255, 255);
                    text-shadow: 0 -1px 0 rgb(0, 0, 0);
                    padding-top: 1.5em;
                    padding-left: 2em;
                    padding-right: 2em;
                    padding-bottom: 1em;
                }

                    .About-us > .info > div > .advice > p:after {
                    }

                    .About-us > .info > div > .advice > p > span {
                        font-family: Roboto-Black;
                        font-size: 1.5em;
                        text-shadow: 0 -1px 0 rgb(0, 0, 0);
                    }

                .About-us > .info > div > .advice > form {
                }

                    .About-us > .info > div > .advice > form > input {
                        height: 3em;
                        border-radius: 3em;
                        margin-top: 3em;
                        margin-bottom: 2em;
                    }

                    .About-us > .info > div > .advice > form > a {
                        font-family: Roboto-Black;
                        font-size: 1.2em;
                        color: rgb(255, 255, 255);
                        padding: 5px 40px;
                        text-shadow: 0 -1px 0 #447523;
                        border-radius: 2em;
                        background: linear-gradient(to bottom,#a2d90c 0,#89bb00 100%) 0 0/100% 100%;
                        transition: all .4s linear;
                        width: 9em;
                        text-decoration: none;
                        margin-top: 0.4em;
                        left: -1.5em;
                    }

                        .About-us > .info > div > .advice > form > a:hover {
                            color: rgb(255, 255, 255);
                            background-position: 0 -200%;
                            background-size: 100% 200%;
                        }

            /* Đào tạo */
            .About-us > .info > div > .train {
                background-color: rgba(0,28,54,.3);
                border: 1px solid rgb(0, 148, 210);
                border-radius: 4px;
                text-align: center;
                height: 23.3em;
            }

                .About-us > .info > div > .train > img {
                    z-index: 10;
                    margin-top: -2.5em;
                }

                .About-us > .info > div > .train > p {
                    font-family: Roboto-Light;
                    font-size: 1.25em;
                    line-height: 1.7em;
                    color: rgb(184, 224, 241);
                    padding: 1.5em;
                    margin-top: 2em;
                }

                .About-us > .info > div > .train > a {
                    background: rgb(0, 120, 174);
                    font-family: Roboto-Bold;
                    font-size: 1.2em;
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    padding: 3px 28px 3px;
                    border-radius: 4px;
                    text-shadow: 0 -1px 0 rgb(0, 0, 0);
                    display: inline-block;
                    border: 1px solid #008ece;
                    box-shadow: inset 0 -1px 0 #004664,-1px -1px 0 #004664;
                    text-decoration: none;
                    position: absolute;
                    left: 5em;
                    bottom: -1.2em;
                }

                    .About-us > .info > div > .train > a:after {
                        font-family: Roboto-Black;
                        font-size: 1.5em;
                        padding-left: 8px;
                        vertical-align: -2px;
                        content: "\bb";
                    }

                    .About-us > .info > div > .train > a:hover {
                        background: rgb(0, 157, 220);
                    }


/*Giap diện cho màn hình tablet*/
@media (min-width: 768px) and (max-width: 991px) {

    /*Banner*/
    .About-us > .banner {
        background-size: 200%;
    }

        .About-us > .banner > div {
            padding: 0;
            margin: 3em 0em;
            width: 90%;
            left: 5%;
            right: 5%;
        }

            .About-us > .banner > div > .title {
            }

            .About-us > .banner > div > .line {
                font-size: 2.5em;
                text-align: justify;
            }

                .About-us > .banner > div > .line > span {
                }

    /*Nội dung chính*/
    .About-us > .content {
        padding: 0% 0% 15% 0%;
    }

        .About-us > .content > div {
            padding: 0;
            width: 90%;
            left: 5%;
            right: 5%;
        }

            /*Nội dung*/
            .About-us > .content > div > .row-box {
                padding: 0;
            }

                .About-us > .content > div > .row-box > img {
                }

                .About-us > .content > div > .row-box > .text {
                    padding: 10% 0% 5% 0%;
                }

                    .About-us > .content > div > .row-box > .text > .title {
                        font-size: 300%;
                        text-align: center;
                    }

                    .About-us > .content > div > .row-box > .text > .detail {
                        line-height: 180%;
                        font-size: 200%;
                        text-align: justify;
                        text-indent: 1em;
                    }

            /*bóng của phần 1 và 3*/
            .About-us > .content > div > .sdl {
            }

            /*bóng của phần 2*/
            .About-us > .content > div > .sdr {
            }

    /* Nhận tin mới */
    .About-us > .news {
        z-index: 10;
        margin: -8em 0em;
    }

        .About-us > .news > .box {
            padding: 5% 0% 5% 0%;
            height: 16em;
            width: 90%;
            left: 5%;
        }

            .About-us > .news > .box > p {
                font-size: 290%;
            }

                .About-us > .news > .box > p > span {
                }

            .About-us > .news > .box > a {
                font-size: 250%;
                width: 50%;
                left: 25%;
                right: 25%;
                margin: 3% 0% 0% 0%;
            }

    /* Thông tin chúng tôi */
    .About-us > .info {
        padding: 20% 0% 10% 0%;
    }

        .About-us > .info > div {
        }

            /* Địa chỉ */
            .About-us > .info > div > .address {
                padding: 1em;
                margin: 0em 0em 4em 0em;
                width: 90%;
                left: 5%;
                right: 5%;
            }

                .About-us > .info > div > .address > img {
                    width: 100%;
                }

                .About-us > .info > div > .address > p {
                    font-size: 200%;
                    padding: 10% 0%;
                }

                    .About-us > .info > div > .address > p > span {
                        font-size: 200%;
                    }

                .About-us > .info > div > .address > a {
                    font-size: 200%;
                    padding: 1% 10%;
                    left: 10%;
                    right: 10%;
                    bottom: -6%;
                    text-align: center;
                }

                    .About-us > .info > div > .address > a:after {
                        font-size: 170%;
                        padding-left: 5%;
                    }

            /* Đăng ký nhận lời khuyên */
            .About-us > .info > div > .advice {
                width: 90%;
                left: 5%;
                right: 5%;
                margin: 5em 0em 10em 0em;
            }

                .About-us > .info > div > .advice > p {
                    font-size: 200%;
                    padding: 1em 1em;
                }

                    .About-us > .info > div > .advice > p > span {
                        font-size: 135%;
                    }

                .About-us > .info > div > .advice > form {
                }

                    .About-us > .info > div > .advice > form > input {
                        font-size: 200%;
                        padding: 0.5em;
                        margin: 0.5em 0em 1em 0em;
                    }

                    .About-us > .info > div > .advice > form > a {
                        font-size: 250%;
                        width: 40%;
                        left: 30%;
                        right: 30%;
                        text-align: center;
                    }

            /* Đào tạo */
            .About-us > .info > div > .train {
                width: 90%;
                left: 5%;
                right: 5%;
                height: 1%;
                padding: 0em 3em 2em 3em;
            }

                .About-us > .info > div > .train > img {
                    width: 15em;
                    margin: -3.5em 0em 0em 0em;
                }

                .About-us > .info > div > .train > p {
                    font-size: 220%;
                    margin: 0em 0em 0em 0em;
                }

                .About-us > .info > div > .train > a {
                    font-size: 200%;
                    left: 10%;
                    right: 10%;
                }

                    .About-us > .info > div > .train > a:after {
                    }
}

/*Giao diện cho màn hình điện thoại*/
@media (max-width: 767px) {

    /*Banner*/
    .About-us > .banner {
        padding: 3% 0%;
    }

        .About-us > .banner > div {
            padding: 0;
            width: 90%;
            left: 5%;
        }

            .About-us > .banner > div > .title {
                font-size: 170%;
                text-align: center;
            }

            .About-us > .banner > div > .line {
                font-size: 150%;
                text-align: justify;
            }

    /*Nội dung chính*/
    .About-us > .content {
        padding: 2em 0em 5em 0em;
    }

        /*Nội dung*/
        .About-us > .content > div {
            width: 90%;
            left: 5%;
        }

            /*Nội dung*/
            .About-us > .content > div > .row-box {
                text-align: center;
                padding: 10% 0% 10% 0%;
            }

                .About-us > .content > div > .row-box > img {
                    margin: 0% 0% 10% 0%;
                }

                .About-us > .content > div > .row-box > .text {
                    padding: 0;
                }

                    .About-us > .content > div > .row-box > .text > .title {
                        font-size: 2em;
                    }

                    .About-us > .content > div > .row-box > .text > .detail {
                        font-size: 1.2em;
                        line-height: 1.5em;
                        text-align: justify;
                        margin: 0% 0% 10% 0%;
                    }

                        .About-us > .content > div > .row-box > .text > .detail > p {
                            text-indent: 1em;
                        }

            /*bóng của phần 1 và 3*/
            .About-us > .content > div > .sdl {
                background-size: 200%;
            }

            /*bóng của phần 2*/
            .About-us > .content > div > .sdr {
                background-size: 200%;
            }

    /* Nhận tin mới */
    .About-us > .news {
        z-index: 1;
        margin: -6em 0em;
    }

        .About-us > .news > .box {
            text-align: center;
            border-radius: 3%;
            padding: 5% 0% 5% 0%;
            height: 12em;
            width: 90%;
            left: 5%;
            right: 5%;
        }

            .About-us > .news > .box > p {
                font-size: 2em;
            }

                .About-us > .news > .box > p > span {
                }

            .About-us > .news > .box > a {
                font-size: 150%;
                width: 60%;
                left: 20%;
                right: 20%;
            }

    /* Thông tin chúng tôi */
    .About-us > .info {
    }

        .About-us > .info > div {
            padding: 0;
        }

            /* Địa chỉ */
            .About-us > .info > div > .address {
                padding: 1em;
                margin: 0em 0em 4em 0em;
                width: 90%;
                left: 5%;
                right: 5%;
            }

                .About-us > .info > div > .address > img {
                    width: 100%;
                }

                .About-us > .info > div > .address > p {
                    font-size: 130%;
                    padding: 10% 0%;
                }

                    .About-us > .info > div > .address > p > span {
                        font-size: 150%;
                    }

                .About-us > .info > div > .address > a {
                    font-size: 150%;
                    padding: 1% 10%;
                    left: 10%;
                    right: 10%;
                    bottom: -6%;
                    text-align: center;
                }

                    .About-us > .info > div > .address > a:after {
                        font-size: 170%;
                        padding-left: 5%;
                    }

            /* Đăng ký nhận lời khuyên */
            .About-us > .info > div > .advice {
                width: 90%;
                left: 5%;
                right: 5%;
                margin: 0em 0em 6em 0em;
                padding: 0;
            }

                .About-us > .info > div > .advice > p {
                    border-radius: 0.5em;
                    font-size: 1.2em;
                    padding: 1em 1em;
                }

                    .About-us > .info > div > .advice > p > span {
                        font-size: 1.4em;
                    }

                .About-us > .info > div > .advice > form {
                }

                    .About-us > .info > div > .advice > form > input {
                        font-size: 1.3em;
                        padding: 0.5em;
                        margin: 0.5em 0em 1em 0em;
                    }

                    .About-us > .info > div > .advice > form > a {
                        font-size: 1.5em;
                        width: 60%;
                        left: 20%;
                        right: 20%;
                        text-align: center;
                    }

            /* Đào tạo */
            .About-us > .info > div > .train {
                width: 90%;
                height: 1%;
                left: 5%;
                right: 5%;
                margin: 0;
                padding: 0;
            }

                .About-us > .info > div > .train > img {
                }

                .About-us > .info > div > .train > p {
                    font-size: 1.3em;
                    padding: 0em 1em;
                    margin: 1em 0em 2em 0em;
                    text-align: justify;
                }

                .About-us > .info > div > .train > a {
                    font-size: 1.2em;
                    left: 10%;
                    right: 10%;
                }

                    .About-us > .info > div > .train > a:after {
                    }
}
