@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
}


header {
    padding: 0 !important;
    position: absolute;
    border-top: 0.3em solid rgb(0, 120, 174);
    box-shadow: 0 3px 3px rgba(132,136,138,.5);
}

    header > .desktop {
        padding: 0.5em 0em 0em 0em;
    }

        /*Logo*/
        header > .desktop > a {
            padding: 0;
        }

            header > .desktop > a > img {
                padding: 0;
                width: 5.8em;
            }

            header > .desktop > a > p {
                font-family: Roboto-Bold;
                font-size: 2.7em;
                color: rgb(0, 120, 174);
                line-height: 0.8em;
                margin: 0.5em 0em 0em 0em;
                padding: 0em 0em 0em 0.3em;
            }

                header > .desktop > a > p > span {
                    font-family: Roboto-Light;
                    font-size: 0.6em;
                }

        header > .desktop > .menu {
            padding: 0;
        }

            /*Menu dòng 1*/
            header > .desktop > .menu > .menu-1 {
                display: inline;
                padding: 0em 0em 0em 6.1em;
            }

                /*Các mục menu*/
                header > .desktop > .menu > .menu-1 > ul {
                    display: inline-block;
                    border-right: 1px solid rgb(218, 218, 218);
                    padding: 0.5em 0.4em 0.5em 0em;
                }

                    header > .desktop > .menu > .menu-1 > ul > li {
                        display: inline;
                        padding: 0em 0.5em;
                    }

                        header > .desktop > .menu > .menu-1 > ul > li > a {
                            font-family: Roboto-Light;
                            font-size: 0.95em;
                            text-align: center;
                            text-decoration: none;
                            color: rgb(117,117,117);
                            transition: color .3s ease-out, background-color .3s ease-out;
                        }

                            header > .desktop > .menu > .menu-1 > ul > li > a:hover {
                                color: rgb(0, 157, 220);
                            }

                /*Tìm kiếm*/
                header > .desktop > .menu > .menu-1 > .search {
                    display: inline;
                    padding: 0em 0em 0em 0.7em;
                }

                    header > .desktop > .menu > .menu-1 > .search > input {
                        width: 8em;
                        display: inline-block;
                    }

                    header > .desktop > .menu > .menu-1 > .search > .button {
                        background: url(../images/icon.png) -15.7em 0 no-repeat;
                        position: absolute;
                        width: 2em;
                        height: 1.9em;
                        color: transparent;
                        margin: 0.25em 0em 0em 0em;
                    }

                /*Số điện thoại*/
                header > .desktop > .menu > .menu-1 > .phone {
                    font-family: Roboto-Bold;
                    color: rgb(90, 96, 99);
                    text-decoration: none;
                    margin: 0em 0em 0em 2.6em;
                    padding: 0.5em 0em 0.5em 0.7em;
                    border-left: 1px solid rgb(218, 218, 218);
                    display: inline;
                    transition: color .3s ease-out, background-color .3s ease-out;
                }

                    header > .desktop > .menu > .menu-1 > .phone:hover {
                        color: rgb(0, 157, 220);
                    }

                    header > .desktop > .menu > .menu-1 > .phone > em {
                        background: url(../images//icon.png) no-repeat;
                        width: 1.6em;
                        height: 1.8em;
                        display: inline-block;
                        vertical-align: middle;
                    }

            /*Menu dòng 2*/
            header > .desktop > .menu > .menu-2 {
                padding: 0;
                margin: 0.7em 0em 0em 0em;
            }

                header > .desktop > .menu > .menu-2 > li {
                    display: inline;
                }

                    header > .desktop > .menu > .menu-2 > li > a {
                        font-family: Roboto-Medium;
                        font-size: 1.25em;
                        color: rgb(90, 96, 99);
                        text-transform: uppercase;
                        display: inline-block;
                        text-align: center;
                        width: 7em;
                        text-decoration: none;
                        transition: color .3s ease-out, background-color .3s ease-out;
                        padding: 0.3em 0.3em 0.5em 0.3em;
                    }

                        header > .desktop > .menu > .menu-2 > li > a:hover {
                            color: rgb(0, 157, 220);
                        }

                    /*Menu tầng 2*/
                    header > .desktop > .menu > .menu-2 > li > .lvl-2 {
                        background: rgb(255, 255, 255);
                        border: solid rgb(0, 157, 220);
                        border-width: 0.25em 0;
                        box-shadow: 0 0.3em 0.3em 0.1em rgba(213,223,228,1);
                        position: absolute;
                        z-index: 5;
                        width: 18em;
                        list-style: none;
                        padding: 0;
                        top: 2.55em;
                        left: 13.5em;
                        text-align: left;
                        transform: translateX(-49.9%);
                        transition: all .1s linear;
                        display: none;
                    }

                        header > .desktop > .menu > .menu-2 > li > .lvl-2:before {
                            content: "";
                            width: 1.3em;
                            height: 1.3em;
                            background-color: rgb(0, 157, 220);
                            position: absolute;
                            top: -0.6em;
                            left: 50%;
                            transform: translateX(-50%) rotate(45deg);
                            z-index: 1;
                        }

                    header > .desktop > .menu > .menu-2 > li:hover > .lvl-2 {
                        display: block;
                    }

                    header > .desktop > .menu > .menu-2 > li > .lvl-2 > li {
                        width: 100%;
                        max-width: 100%;
                        white-space: nowrap;
                        position: relative;
                        z-index: 2;
                        border-bottom: 1px solid rgb(227, 227, 227);
                    }

                        header > .desktop > .menu > .menu-2 > li > .lvl-2 > li > a {
                            background: rgb(255, 255, 255);
                            display: block;
                            font-family: Roboto-Medium;
                            font-size: 1.2em;
                            color: rgb(0, 157, 220);
                            padding: 1em 2em;
                            transition: all .1s linear;
                            text-decoration: none;
                        }

                            header > .desktop > .menu > .menu-2 > li > .lvl-2 > li > a:hover {
                                background: rgb(0, 157, 220);
                                color: rgb(255, 255, 255);
                            }

                        /*Menu tầng 3*/
                        header > .desktop > .menu > .menu-2 > li > .lvl-2 > li > .lvl-3 {
                            background-color: rgb(250, 250, 250);
                            border-left: 5px solid rgb(0, 170, 238);
                            position: absolute;
                            top: 0;
                            left: 100%;
                            box-shadow: 0 1px 2px 0px rgba(213,223,228,.7);
                            transition: all .1s linear;
                            z-index: 1;
                            width: auto;
                            display: none;
                            padding: 0;
                            margin-left: auto;
                            display: none;
                        }

                        header > .desktop > .menu > .menu-2 > li > .lvl-2 > li:hover > .lvl-3 {
                            display: block;
                        }

                        header > .desktop > .menu > .menu-2 > li > .lvl-2 > li > .lvl-3 > li {
                            background-color: rgb(250, 250, 250);
                            max-width: 100%;
                            transition: background-color .1s linear,opacity .1s linear;
                            list-style: none;
                        }

                            header > .desktop > .menu > .menu-2 > li > .lvl-2 > li > .lvl-3 > li > a {
                                font-family: Roboto-Regular;
                                font-size: 1.1em;
                                color: rgb(90, 96, 99);
                                padding: 15px 25px;
                                transition: all .1s linear;
                                display: block;
                                text-decoration: none;
                                border-bottom: 1px solid rgb(227, 227, 227);
                            }

                                header > .desktop > .menu > .menu-2 > li > .lvl-2 > li > .lvl-3 > li > a:hover {
                                    color: rgb(144, 196, 4);
                                    background: rgb(255, 255, 255);
                                    border-bottom: 1px solid rgb(144, 196, 4);
                                }

                    /*Nút đăng ký tư vấn*/
                    header > .desktop > .menu > .menu-2 > li > .suicide {
                        font-family: Roboto-Black;
                        color: rgb(144, 196, 4);
                        width: 11.5em;
                        border-left: 1px solid rgb(218, 218, 218);
                    }

                        header > .desktop > .menu > .menu-2 > li > .suicide::after {
                            content: "»";
                            font: 1.7em/0em Roboto-Black,Arial;
                            padding-left: 0.2em;
                            vertical-align: -0.1em;
                            position: relative;
                            left: 0;
                            transition: left .2s linear;
                        }

                        header > .desktop > .menu > .menu-2 > li > .suicide:hover:after {
                            left: 0.1em;
                        }


/*Footer*/
footer {
    background: url(../images/footer-bg.png);
    padding: 2em 0em 1em 0em;
}

    footer > div {
        padding: 0;
    }

        footer > div > a {
            padding: 0;
        }

            footer > div > a > span {
                background: url(../images/icon.png) -471px -1px no-repeat;
                width: 75px;
                height: 75px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                transition: top .4s ease-out;
            }

            footer > div > a > div {
                left: -5em;
                bottom: 0em;
            }

                footer > div > a > div > .title {
                    font-family: Roboto-Bold;
                    font-size: 1.7em;
                    background-color: rgba(0,0,0,.4);
                    font-weight: 700;
                    line-height: 20px;
                    text-transform: uppercase;
                    color: rgb(51, 106, 168);
                    padding: 10px 18px 5px 50px;
                    display: inline-block;
                    margin: 0;
                }

                footer > div > a > div > .detail {
                    font-family: Roboto-Light;
                    background-color: rgba(0,0,0,.4);
                    display: block;
                    width: 23em;
                    color: rgb(121, 129, 133);
                    font-size: 1em;
                    line-height: 16px;
                    font-weight: 700;
                    padding: 10px 20px 10px 50px;
                    border-right: 4px solid rgba(51,106,168,.5);
                }

        footer > div > iframe {
            margin-left: 21.2em;
        }

    footer > ul {
        display: inline-flex;
        list-style: none;
    }

        footer > ul > li {
            margin-right: 4.5em;
        }

            footer > ul > li > a {
                font-family: Roboto-Medium;
                font-size: 1.5em;
                color: rgb(121, 129, 133);
            }

                footer > ul > li > a:hover {
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                }


/*Giap diện cho màn hình tablet*/
@media (min-width: 768px) and (max-width: 991px) {

    .fixed {
        position: fixed;
        top: 0;
        height: 80px;
        z-index: 1;
    }

    header {
        position: static;
        z-index: 2;
        margin-bottom: 2em;
    }

    /*Phần logo*/
    .mobile {
        height: 150px;
    }

        .mobile .logo {
            width: 100%;
            text-decoration: none;
        }

            .mobile .logo img {
                width: 17%;
                margin: 0.5em 1.5em;
                float: left;
            }

            .mobile .logo p {
                font-family: Roboto-Bold;
                font-size: 3.5em;
                padding: 0.5em 0em 0em 0em;
                line-height: 1em;
            }

                .mobile .logo p span {
                    font-family: Roboto-Light;
                    font-size: 0.8em;
                }

    /*Phần menu*/
    .dl-menuwrapper {
        width: 100%;
        height: 80px;
        float: left;
        position: relative;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        -webkit-perspective-origin: 50% 200%;
        perspective-origin: 50% 200%;
        box-shadow: 0 3px 3px rgba(132,136,138,.1);
        background: rgb(255, 255, 255);
    }

        .dl-menuwrapper:first-child {
            margin-right: 0;
        }

        .dl-menuwrapper div {
            width: 84%;
            float: right;
        }

            .dl-menuwrapper div .phone {
                width: 80%;
                display: block;
                font-family: Roboto-Bold;
                font-size: 4em;
                color: rgb(0, 120, 174);
                text-align: center;
                text-decoration: none;
                padding: 0;
            }

            .dl-menuwrapper div .search {
                background: url(../images/icon.png) -21px 0 no-repeat;
                width: 4em;
                height: 4em;
                position: absolute;
                color: transparent;
                right: 1em;
                top: 1em;
                margin: 0;
                background-position: -60px 0;
                background-size: 4700%;
            }

                .dl-menuwrapper div .search:before {
                    border-left: 1px solid #dadada;
                    content: "";
                    height: 5em;
                    position: absolute;
                    top: -1em;
                    left: -1.5em;
                    width: 0;
                }

        .dl-menuwrapper button {
            background: rgb(255, 255, 255);
            border: none;
            width: 11%;
            height: 5em;
            text-indent: -900em;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            outline: none;
            border-right: 1px solid rgb(218, 218, 218);
        }

            .dl-menuwrapper button:hover,
            .dl-menuwrapper button.dl-active,
            .dl-menuwrapper ul {
                background: rgb(255, 255,255);
            }

            .dl-menuwrapper button:after {
                content: '';
                position: absolute;
                width: 70%;
                height: 10%;
                background: rgb(0, 120, 174);
                top: 35%;
                left: 15%;
                box-shadow: 0 10px 0 rgb(0, 120, 174), 0 20px 0 rgb(0, 120, 174);
            }

        .dl-menuwrapper ul {
            padding: 0;
            list-style: none;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            background: rgb(0, 120, 174);
        }

        .dl-menuwrapper li {
            position: relative;
        }

            .dl-menuwrapper li a {
                display: block;
                position: relative;
                padding: 1em 1em;
                font-size: 2.2em;
                line-height: 20px;
                font-weight: 300;
                color: #fff;
                outline: none;
                text-decoration: none;
            }

            .dl-menuwrapper li.dl-back > a {
                padding-left: 1.5em;
                background: rgba(0,0,0,0.1);
            }

            .dl-menuwrapper li.dl-back:after,
            .dl-menuwrapper li > a:not(:only-child):after {
                position: absolute;
                top: 0;
                font-family: 'icomoon';
                speak: none;
                -webkit-font-smoothing: antialiased;
                content: "\e000";
            }

            .dl-menuwrapper li.dl-back:after {
                left: 10px;
                color: rgba(212,204,198,0.3);
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                line-height: 3em;
                font-size: 2em;
            }

            .dl-menuwrapper li > a:after {
                right: 10px;
                color: rgba(0,0,0,0.15);
                line-height: 2.2em;
                font-size: 1.2em;
            }

        .dl-menuwrapper .dl-menu {
            margin: 0.5em 0 0 0;
            position: absolute;
            width: 100%;
            opacity: 0;
            pointer-events: none;
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

            .dl-menuwrapper .dl-menu.dl-menu-toggle {
                transition: all 0.3s ease;
            }

            .dl-menuwrapper .dl-menu.dl-menuopen {
                opacity: 1;
                pointer-events: auto;
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
            }

        /* Hide the inner submenus */
        .dl-menuwrapper li .dl-submenu {
            display: none;
        }

    /* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
    .dl-menu.dl-subview li,
    .dl-menu.dl-subview li.dl-subviewopen > a,
    .dl-menu.dl-subview li.dl-subview > a {
        display: none;
    }

        .dl-menu.dl-subview li.dl-subview,
        .dl-menu.dl-subview li.dl-subview .dl-submenu,
        .dl-menu.dl-subview li.dl-subviewopen,
        .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
        .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
            display: block;
        }

    /* Dynamically added submenu outside of the menu context */
    .dl-menuwrapper > .dl-submenu {
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0;
        margin: 0;
    }

    /* Animation classes for moving out and in */

    .dl-menu.dl-animate-out-5 {
        -webkit-animation: MenuAnimOut5 0.4s ease;
        animation: MenuAnimOut5 0.4s ease;
    }

    @-webkit-keyframes MenuAnimOut5 {
        0% {
        }

        100% {
            -webkit-transform: translateY(40%);
            opacity: 0;
        }
    }

    @keyframes MenuAnimOut5 {
        0% {
        }

        100% {
            -webkit-transform: translateY(40%);
            transform: translateY(40%);
            opacity: 0;
        }
    }

    .dl-menu.dl-animate-in-5 {
        -webkit-animation: MenuAnimIn5 0.4s ease;
        animation: MenuAnimIn5 0.4s ease;
    }

    @-webkit-keyframes MenuAnimIn5 {
        0% {
            -webkit-transform: translateY(40%);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes MenuAnimIn5 {
        0% {
            -webkit-transform: translateY(40%);
            transform: translateY(40%);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
    }

    .dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
        -webkit-animation: SubMenuAnimIn5 0.4s ease;
        animation: SubMenuAnimIn5 0.4s ease;
    }

    @-webkit-keyframes SubMenuAnimIn5 {
        0% {
            -webkit-transform: translateZ(-200px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateZ(0);
            opacity: 1;
        }
    }

    @keyframes SubMenuAnimIn5 {
        0% {
            -webkit-transform: translateZ(-200px);
            transform: translateZ(-200px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            opacity: 1;
        }
    }

    .dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
        -webkit-animation: SubMenuAnimOut5 0.4s ease;
        animation: SubMenuAnimOut5 0.4s ease;
    }

    @-webkit-keyframes SubMenuAnimOut5 {
        0% {
            -webkit-transform: translateZ(0);
            opacity: 1;
        }

        100% {
            -webkit-transform: translateZ(-200px);
            opacity: 0;
        }
    }


    @keyframes SubMenuAnimOut5 {
        0% {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            opacity: 1;
        }

        100% {
            -webkit-transform: translateZ(-200px);
            transform: translateZ(-200px);
            opacity: 0;
        }
    }

    /* No JS Fallback */
    .no-js .dl-menuwrapper .dl-menu {
        position: relative;
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

    .no-js .dl-menuwrapper li .dl-submenu {
        display: block;
    }

    .no-js .dl-menuwrapper li.dl-back {
        display: none;
    }

    .no-js .dl-menuwrapper li > a:not(:only-child) {
        background: rgba(0,0,0,0.1);
    }

        .no-js .dl-menuwrapper li > a:not(:only-child):after {
            content: '';
        }

    /*Footer*/
    footer {
        padding: 1.5em 0em 1em 0em;
    }

        footer > ul {
            text-align: center;
            display: block;
        }

            footer > ul > li {
                margin: 0;
            }

                footer > ul > li > a {
                    font-size: 2.3em;
                }
}

/*Giao diện cho màn hình điện thoại*/
@media (max-width: 767px) {
    .fixed {
                position: fixed;
                top: 0;
                height: 50px;
                z-index: 1;
            }
    

    header {
        position: static;
        z-index: 2;
    }

    /*Phần logo*/
    .mobile {
        height: 65px;
    }

        .mobile .logo {
            width: 100%;
            text-decoration: none;
        }

            .mobile .logo p {
                font-family: Roboto-Bold;
                font-size: 1.5em;
                padding: 0.5em 0em 0em 0em;
                line-height: 1em;
            }

                .mobile .logo p span {
                    font-family: Roboto-Light;
                    font-size: 0.8em;
                }

            .mobile .logo img {
                width: 17%;
                margin: 0.2em 0.5em;
                float: left;
            }

    /*Phần menu*/
    .dl-menuwrapper {
        width: 100%;
        height: 50px;
        float: left;
        position: relative;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        -webkit-perspective-origin: 50% 200%;
        perspective-origin: 50% 200%;
        box-shadow: 0 3px 3px rgba(132,136,138,.1);
        background: rgb(255, 255, 255);
    }

        .dl-menuwrapper:first-child {
            margin-right: 0;
        }

        .dl-menuwrapper div {
            width: 84%;
            float: right;
        }

            .dl-menuwrapper div .phone {
                width: 80%;
                display: block;
                font-family: Roboto-Bold;
                font-size: 2em;
                color: rgb(0, 120, 174);
                text-align: center;
                text-decoration: none;
                padding: 0.2em 0em 0.1em 0em;
            }

            .dl-menuwrapper div .search {
                background: url(../images/icon.png) -21px 0 no-repeat;
                width: 1.8em;
                height: 1.8em;
                position: absolute;
                color: transparent;
                right: 1em;
                top: 1em;
                margin: 0;
                background-position: -222px 0;
            }

                .dl-menuwrapper div .search:before {
                    border-left: 1px solid #dadada;
                    content: "";
                    height: 3.3em;
                    position: absolute;
                    top: -1em;
                    left: -1em;
                    width: 0;
                }

        .dl-menuwrapper button {
            background: rgb(255, 255, 255);
            border: none;
            width: 16%;
            height: 3.2em;
            text-indent: -900em;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            outline: none;
            border-right: 1px solid rgb(218, 218, 218);
        }

            .dl-menuwrapper button:hover,
            .dl-menuwrapper button.dl-active,
            .dl-menuwrapper ul {
                background: rgb(255, 255,255);
            }

            .dl-menuwrapper button:after {
                content: '';
                position: absolute;
                width: 70%;
                height: 10%;
                background: rgb(0, 120, 174);
                top: 20%;
                left: 15%;
                box-shadow: 0 10px 0 rgb(0, 120, 174), 0 20px 0 rgb(0, 120, 174);
            }

        .dl-menuwrapper ul {
            padding: 0;
            list-style: none;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            background: rgb(0, 120, 174);
        }

        .dl-menuwrapper li {
            position: relative;
        }

            .dl-menuwrapper li a {
                display: block;
                position: relative;
                padding: 15px 20px;
                font-size: 16px;
                line-height: 20px;
                font-weight: 300;
                color: #fff;
                outline: none;
                text-decoration: none;
            }

            .dl-menuwrapper li.dl-back > a {
                padding-left: 30px;
                background: rgba(0,0,0,0.1);
            }

            .dl-menuwrapper li.dl-back:after,
            .dl-menuwrapper li > a:not(:only-child):after {
                position: absolute;
                top: 0;
                line-height: 50px;
                font-family: 'icomoon';
                speak: none;
                -webkit-font-smoothing: antialiased;
                content: "\e000";
            }

            .dl-menuwrapper li.dl-back:after {
                left: 10px;
                color: rgba(212,204,198,0.3);
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }

            .dl-menuwrapper li > a:after {
                right: 10px;
                color: rgba(0,0,0,0.15);
            }

        .dl-menuwrapper .dl-menu {
            margin: 5px 0 0 0;
            position: absolute;
            width: 100%;
            opacity: 0;
            pointer-events: none;
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

            .dl-menuwrapper .dl-menu.dl-menu-toggle {
                transition: all 0.3s ease;
            }

            .dl-menuwrapper .dl-menu.dl-menuopen {
                opacity: 1;
                pointer-events: auto;
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
            }

        /* Hide the inner submenus */
        .dl-menuwrapper li .dl-submenu {
            display: none;
        }

    /* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
    .dl-menu.dl-subview li,
    .dl-menu.dl-subview li.dl-subviewopen > a,
    .dl-menu.dl-subview li.dl-subview > a {
        display: none;
    }

        .dl-menu.dl-subview li.dl-subview,
        .dl-menu.dl-subview li.dl-subview .dl-submenu,
        .dl-menu.dl-subview li.dl-subviewopen,
        .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
        .dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
            display: block;
        }

    /* Dynamically added submenu outside of the menu context */
    .dl-menuwrapper > .dl-submenu {
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0;
        margin: 0;
    }

    /* Animation classes for moving out and in */

    .dl-menu.dl-animate-out-5 {
        -webkit-animation: MenuAnimOut5 0.4s ease;
        animation: MenuAnimOut5 0.4s ease;
    }

    @-webkit-keyframes MenuAnimOut5 {
        0% {
        }

        100% {
            -webkit-transform: translateY(40%);
            opacity: 0;
        }
    }

    @keyframes MenuAnimOut5 {
        0% {
        }

        100% {
            -webkit-transform: translateY(40%);
            transform: translateY(40%);
            opacity: 0;
        }
    }

    .dl-menu.dl-animate-in-5 {
        -webkit-animation: MenuAnimIn5 0.4s ease;
        animation: MenuAnimIn5 0.4s ease;
    }

    @-webkit-keyframes MenuAnimIn5 {
        0% {
            -webkit-transform: translateY(40%);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes MenuAnimIn5 {
        0% {
            -webkit-transform: translateY(40%);
            transform: translateY(40%);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
        }
    }

    .dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
        -webkit-animation: SubMenuAnimIn5 0.4s ease;
        animation: SubMenuAnimIn5 0.4s ease;
    }

    @-webkit-keyframes SubMenuAnimIn5 {
        0% {
            -webkit-transform: translateZ(-200px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateZ(0);
            opacity: 1;
        }
    }

    @keyframes SubMenuAnimIn5 {
        0% {
            -webkit-transform: translateZ(-200px);
            transform: translateZ(-200px);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            opacity: 1;
        }
    }

    .dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
        -webkit-animation: SubMenuAnimOut5 0.4s ease;
        animation: SubMenuAnimOut5 0.4s ease;
    }

    @-webkit-keyframes SubMenuAnimOut5 {
        0% {
            -webkit-transform: translateZ(0);
            opacity: 1;
        }

        100% {
            -webkit-transform: translateZ(-200px);
            opacity: 0;
        }
    }


    @keyframes SubMenuAnimOut5 {
        0% {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            opacity: 1;
        }

        100% {
            -webkit-transform: translateZ(-200px);
            transform: translateZ(-200px);
            opacity: 0;
        }
    }

    /* No JS Fallback */
    .no-js .dl-menuwrapper .dl-menu {
        position: relative;
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

    .no-js .dl-menuwrapper li .dl-submenu {
        display: block;
    }

    .no-js .dl-menuwrapper li.dl-back {
        display: none;
    }

    .no-js .dl-menuwrapper li > a:not(:only-child) {
        background: rgba(0,0,0,0.1);
    }

        .no-js .dl-menuwrapper li > a:not(:only-child):after {
            content: '';
        }

    /*Footer*/
    footer {
        padding: 1.5em 0em 1em 0em;
    }

        footer > ul {
            text-align: center;
            display: block;
        }

            footer > ul > li {
                margin: 0;
            }

                footer > ul > li > a {
                }
}
